{% extends 'events/base.html' %}

{% block content %}
{% if user.is_authenticated %}

    <center>
        <h1>Add Venue</h1>
        <br /><br />

        {% if submitted %}
            Your Venue Was Submitted Succesfully!!! 
        {% else %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>

        {% endif %}
    </center>
{% else %}
    
    <h1>Sorry you must login to add venues</h1>
    <a href="{% url 'login'%}">Login</a>

{% endif %}
{% endblock %}