{% extends 'events/base.html' %}

{% block content %}


<h1>Venue</h1>
<br /><br />
<table class="table table-striped table-hover">
    {% for venue in venues %}
    <tr>
        <td>
            <a href="{% url 'show-venue' venue.id %}">{{ venue }}</a>
        </td>
        {% if user.is_authenticated %}
            <td align="right">
                <a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
                <a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<br /><br />

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

{% if venues.has_previous %}
<!-- TO GET DIRECTLY FIRST PAGE (&laquo is for arrow symbol)-->
	<!--<li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>-->

	<li class="page-item"><a class="page-link" href="?page={{ venues.previous_page_number }}">Previous</a></li>
	
{% endif %}
<!-- THIS IS NOT WORKING AS DJANGO DOES NOT ITRERATE IN INT (TO DO SO YOU HAVE TO CREATE A STRING 
    GO TO VIEWS AND ADD
    nums = a*venues.paginator.num_pages(this will create string)
    now pass "nums" to dictionary
    now below code will work
    i don't want this so i just left it)-->
{% comment %}
{% for i in nums %}
	<li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>

{% endfor %}
{% endcomment %}
{% if venues.has_next %}
	<li class="page-item"><a class="page-link" href="?page={{ venues.next_page_number }}">Next</a></li>
    <!-- TO GET DIRECTLY LAST PAGE-->
	<!--<li class="page-item"><a class="page-link" href="?page={{ venues.paginator.num_pages }}">Last &raquo</a></li>-->

{% endif %}

</ul>


{% endblock %}